<!-- views/user/otp.hbs -->
{{>header}}

<main>
    <section class="otp-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center mb-60">Verify Your OTP</h3>
                        <h6 style="color: red;" id="errorMessage">{{errorMessage}}</h6> 
                        <form method="post" action="/verify-otp">
                            <label for="otp">OTP <span>**</span></label>
                            <input id="otp" name="otp" type="text" placeholder="Enter OTP" required/>
                            <input type="hidden" name="email" value="{{email}}"/>
                            <div class="mt-10"></div>
                            <button class="btn theme-btn-2 w-100">Verify OTP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{>footer}}
